body,html{
    width: 100%;
    height: 100%;
    margin: 0;
}
*{
    box-sizing: border-box;
}
.homepage{
    width: 100%;
    height: 100%;

    background-image: url(../image/worker.jpeg);
}

.hedmain{
    width: 100%;
    height: 65px;
    background-color: #313131;
    overflow: auto;
    position: fixed;
    
    }

.hedclas{
    width: 33%;
margin: 0;
    color: white;
    float: left;
left: 0;
    

}
.logo{
    float: left;
    
}
.logo1
{
    top:20%;
    right: 0;
left: 0;
    bottom: 0;
    position: absolute;
    width: 40%;
    float: left;
}

.tex{
    color: white;
}
*{
 margin: 0;   
    
}
.contact{
    width: 30%;
    top: 20%;
    position: absolute;
    text-align: center;
}
.contact1{
    width: 30%;
    top: 30%;
    position: absolute;
    text-align: center;
    right: 20%;
}
.callme{
    background-color: dimgrey;
    right: 20px;
    position: absolute;
    top: 20%;
    padding: 10px;
    
}

.kancho{
    
    width: 60%;
    height: 30%;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    color: white;
    position: absolute;
    text-align: center;
    }
.kancho1{
    width: 90%;
    color: white;
    margin: auto;
    padding: 20px;
}
.getstart{
    padding: 10px;
    background-color:#506df5 ;
}
.getstart1{

    padding: 10px;
    background-color:violet;
    }
.workmain{
    width: 80%;
    overflow: auto;
padding: 5%;
    margin: auto;
    text-align: center;
    position: relative;
}

.work{
    width: 32%;
    float: left;
    margin: auto;
     padding: 5px;
}

.workhe{
    padding: 5px;
}
.workin{
        padding: 5px;

}
.workin1{
    padding: 20px;
}
.workin2{
    padding: 20px;
}
.getstartin{
    padding: 5px;
    color: white;
    background-color:#506df5 ;
}

.Advantages{
    width: 100%;
    height: 100%;
    background-color: #656464;
}

.advant{
    background-image: url(../image/homebac.jpeg);
color: white;
    text-align: center;
}
.contain{
    padding: 10px;
    width: 80%;
    margin: auto;
    text-align: left;
    color: black;
}
.facility{
    width: 100%;
padding: 20px;
}
.facilityin{
 width: 25%;
    display: inline-block;
    background-color: white;
margin: 20px;
    
}


.tool{
    padding: 5px;

    text-align: left;
}

.toolin{
 text-align: left;
    padding: 20px;
}
.readmore{
    text-align: left;
    margin: 20px;
    color: white;
    background-color:#506df5 ;
    right: 20px;
    top: 20%;
    padding: 10px;
}
h1{
    margin: 0px;
}

.team{
    width: 100%;

}

.teamin{
    background-color: whitesmoke;
    text-align: center;
    
}


.teamdo{
    width: 90%;
    margin: auto;
padding: 10px;
    
}
.teamdone{
 width: 40%;
    margin: 20px;
display: inline-block;
    background-color: white;
    }

.jena{
    width: 50%;
    overflow: auto;
    float: left;
    padding: 10px;
}
.jenaimg{
    width: 50%;
    overflow: auto;
    float: right;
}
.jenihed{
    padding: 5px;
    text-align: left;
    width: 90%;
    margin: auto;
}

.jenicon{
 text-align: left;
    padding: 20px;
}
.cutting{
    width: 100%;
    height: 85%;
    background-image: url(../image/pexels-bacground-761535.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

.more{
width: 90%;
    top: 50px;
    position: relative;
    margin: auto;
    overflow: auto;

}

.info{
    width: 50%;
    float: left;
    margin: auto;
    padding: 20px;
    
}

.master{
    height: 33.3%;
    padding: 20px;
}
.BestMasters{
    height: 50%;
    text-align: left;
    padding: 10px;
    color: white;
}
.repair{
    height: 50%;
    text-align: center;
    padding: 10px;
    margin: 10px;
    color: white;
}
h1{
    margin: 0;
}
.mf{
    background-color: dimgrey;
    margin: auto;
    padding: 10px;
}
.bestwork{
    width: 90%;
    padding: 20px;
    margin: auto;
    overflow: auto;
}
.whybest{
    width: 35%;
    float: left;
        padding: 40px;
    margin: auto;
    text-align: left;
}
.whybest1{
    width: 60%;
    float: left;
        padding: 20px;
    margin: auto;
}
.whyin{

    text-align: left;
    width: 50%;
    float: left;
    padding: 20px;
}
.contactme{
    height: 20%;
    background-color: #313131;
    position: relative;
    overflow: auto;
    text-align: center;
}
.conmebo{

    height: 40%;
    margin: auto;

    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    position: absolute;
    overflow: auto;
}
.conmein{
    margin: 10px;
    background-color: yellow;
    padding: 10px;
}
.conmein1{
    margin: 10px;
    background-color: gray;
    padding: 10px;
}
.conmein2{
    margin: 10px;
    background-color: blue;
    padding: 10px;
}
.team3{
    width: 100%;
    overflow: auto;
}

.email{
    margin: auto;
    text-align: left;
    width: 90%;

    padding: 20px;
}
.cat
{
    text-align: left;
    width: 25%;
    float: left;

    overflow: auto;
}
.cin2{
    margin: auto;
    margin: 20px;
    padding: 20px;
    width: 90%;
    background-color: blue;
    text-align: left;

}
.cin3{
    margin: auto;
    margin: 20px;
    width: 90%;
    height: 170px;
    background-color: blue;
    text-align: left;
    padding: 10px;

}
.cin4{
    margin: auto;
    width: 120px;
    height: 40px;
    padding: 10px;
 background-color: yellow;
    text-align:center;

}

.ciin{
    margin: auto;
    margin: 20px;
    padding: 10px;
    width: 70%;
background-color: pink;
    text-align: left;
    overflow: auto;

}
.squr{
    margin: auto;
    width: 9px;
    height: 9px;
    background-color: black;
    float: left;

}
.tee{

    padding: 10px;
}